<div class="continer">
  <div class="details form">
    <app-title title="Login"></app-title>

    <form [formGroup]="loginForm">
      <div class="input">
        <text-input
          [control]="fc['email']"
          [showErrorsWhen]="isSubmitted"
          type="email"
          label="Email"
        ></text-input>

        <text-input
          [control]="fc['password']"
          [showErrorsWhen]="isSubmitted"
          type="password"
          label="Password"
        ></text-input>

        <default-button
          type="button"
          value="Submit"
          (onClick)="submit()"
        ></default-button>
      </div>
    </form>
    <div class="forget">
      New user? &nbsp;
      <a routerLink="/login" [queryParams]="{returnUrl:returnUrl}">Register Here
      </a>
    </div>
  </div>

</div>
